#product-name{
    width: 600px;
    height: 30px;
}

label{
    margin-right: 20px;
    display: inline;
}
.center{
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
}
textarea{
    width: 600px;
}

select{
    width: 200px;
    height: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
.input-items{
    width: 200px;
    height: 20px;
}
#table-form {
    border-collapse: separate;
    border-spacing: 0 1em;
}
table{
    border-collapse:collapse ;
}